// Custom styles.
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
 }
// Custom styles.
// 页面头部背景
.header {  
    background:url(../images/dota.jpg) no-repeat center;
  
}

// 子标题
.site-subtitle{ font-size: 15px; color: white; }
// 标题
.site-title {
    font-weight: bold;
    padding : 20px 100px;
    font-family: 'Comic Sans MS',Lato,"PingFang SC","Microsoft YaHei",sans-serif;
}
.site-meta .site-title {
    font-size: 50px;
    font-weight: bolder;
}
// 标题背景

.site-meta {
    margin: 0 auto;
    text-align: center;
    float: none;
}
.brand{
    background: transparent;
    color: #fff;
    
    
}
.brand i{
    color: #fff;
    background: #fff;
}
.brand:hover{
    color: #0594ed
}
// 菜单栏
.menu {
    magin-top:20px;
	padding: 5px 10px;
	text-align: center;
	background: rgba(240, 240, 240, 0.5);
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	border-radius: initial;
    float: none;
}
// 菜单图表链接 以及 超链接样式
a {
    color: rgba(0,0,0,0.8);
}
a:hover {
    color: #ff106c;
    border-bottom-color: #ff106c;
}
// 菜单字体大小
.menu .menu-item a {
    font-size: 14px;
}
.menu .menu-item a:hover {
    border-bottom-color: #ff106c;
}
// 文章背景框框
.post {
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 18px;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.8);
   }
// 站点描述
.site-description {
    font-size: 16px;
}
// 头部inner
.header-inner {
    padding: 148px 0;
    width: 700px;
}
// 作者名
.site-author-name {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
}
// 文章之间的分割线
.posts-expand .post-eof {
    margin: 40px auto 40px;
    background: white;
}
// 按钮样式
.btn {
    margin-top: 20px;
}
// ``代码块样式
code {
    color: #E6006B;
    background: white;
    border-radius: 3px;
}
body {
    color: #444;
    font-size: 16px;
}

.menu .menu-item a {
    font-size: 18px;
    color: #0a6fc7;
}